@import url('https://fonts.googleapis.com/css?family=Overpass&display=swap');

#root, .App, body, .background {
  height: 100vh;
  font-family: 'Overpass', sans-serif;
}


.App {
  text-align: center;
}

.image {
  /* background: url('assets/background.jpg'); */
  background: rgb(32, 32, 32);
  height: 60vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 0px 0px 0px 50px;
  filter: grayscale(0.4);
}

.background {
  background-color: rgb(230, 227, 211);
}


.cards::-webkit-scrollbar {
  display: none;
}

.cards {
  display: flex;
  position: absolute;
  top: 45vh;
  width: 100vw;
  overflow: scroll;
  -ms-overflow-style: none;
}

.card:nth-child(1) { 
  margin-left: 20vw !important;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: white;
  padding: 15px 50px;
  margin: 20px;
  height: 200px;
  border-radius: 10px;
  text-transform: uppercase;
  box-shadow: #00000033 0 5px 10px;
}