@import url('https://fonts.googleapis.com/css?family=Arvo:400,700&display=swap');

#root, .App, body, .background {
  font-family: 'Arvo', serif;
  min-height: 100vh;
}


.App {
  text-align: center;
  background-color: #1a1a1a;
}

.header {
  padding: 10vh 10vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

img {
  height: 250px;
  width: 250px;
  margin-bottom: 25px;
}

p.title {
  color: #1a1a1a;
  background-color: white;
  display: inline-block;
}

.headline {
  text-align: left;
}

p {
  font-size: 3rem;
  color: white;
  text-align: left;
}

.headline p {
  margin: 0;
}

svg {
  position: relative;
  width: 50px;
  height: 50px;
  margin: 5px;
  fill: white;
}

.links {
  display: flex;
  justify-content: space-between;
  padding: 0 10vw 5vh 10vw;
}

.links > a {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 75px;
  width: 75px;
  background-color: #111111;
  color: white;
}

.links > a:hover {
  background-color: white;
  -moz-box-shadow:    none;
  -webkit-box-shadow: none;
  box-shadow:         none;
  color: black;  
}

.links > a:hover svg{
  fill: black;
}

.links > a, svg {
  transition: .2s;
}